body{
    margin: 0px;
    font-family: sans-serif;
}

/* header */

#body-header{
    height:65vh;
    background-image: url("images/2068755.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.horizontal-list{
    list-style-type: none;
    padding-left: 0px;
    margin: 0px;
}

.martop{
    padding-top: 2vh;
}

.horizontal-list li{
    
    display: inline-block;
    margin: 0px 8px 8px 0px;
}

.horizontal-list li a{
    
    font-size: 1.3rem; 
    color: white;
    font-family: sans-serif;
    text-decoration: none;
    transition: color 0.5s, border-bottom 4s;
}

.horizontal-list li a:hover{
    color: black;
    border-bottom: 1px solid black;
}


.text-center{
    text-align: center;
}

#name-social-container{
    margin-top:20vh;
}

#my-name{
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: white;
    font-weight:700;
    font-family:cursive;
    margin-bottom: 0.5rem;
}

.social-icons{
    height:25px;
    width: 25px;
    margin: 10px;
    border-radius: 50%;
}

.social-icons:hover{
    height:25px;
    width: 25px;
    padding: 2px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 2px 2px rgb(0, 0, 0,0.4);

}

#gmail{
    background-image: url("images/email.svg");
}
#linkedIn{   
    background-image: url("images/linkedin.svg");
}
#leetcode{   
    background-image: url("images/leetcode.svg");
}
#github{   
    background-image: url("images/github.svg");
}
#gfg{  
    background-image: url("images/gfg.svg");
}

/* about section  */

#about{
    height: auto;
    width: 100%;
    position: relative;
}

#img-div{
    height:12rem;
    margin: auto;
    margin-top: -21vh;
}

#my-img{
    width:300px;
    height:300px;
    border-radius: 50%;
}

.content-div{
    margin-top: 21vh;

    
}


/* sections */

section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section:nth-child(2n){
    background-color:white;
}

section:nth-child(2n+1){
    background-color:mistyrose;
}


/* skills section  */


.section-header{
    width:auto;
    padding:20px 10px 10px;
    font-weight: 400;
    font-family:cursive;
}



.section-header span{
    font-size:30px;
    color:black;
    display:inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
}

#skills{
    padding-bottom: 100px;
}

#skills header{

    display: flex;
    flex-direction: column;
    align-items: center;

}

.skills-display{
    width:70%;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

.skill-progress{
    margin: 10px 5px 10px 5px;
    background-color:seashell;
    padding: 0px 70px 0px 70px;
    border-radius: 2.8rem;
    border: 2px solid plum;
}

.skill-progress p{
    font-size:18px;
    font-family:sans-serif;
}





/* hold */

.exp-img{
    width: 300px;
    height: 300px;
}


/* experience */

.timeline{
    position: relative;
    width: 75%;
}

.timeline-box{
    position: relative;
    width:40%;
    left: 5%;
    min-height: 150px;
}

.timeline-box:nth-child(2n){
    left: 53%;
}

.pos::before{
    content:'';
    display: inline-block;
    width:30px;
    height: 30px;
    margin-right: 10px;
    background-image: url("/images/company.png");
}

.pos{
    margin-top:-10px;
    margin-left: 30px;
}
.company-name{
    margin-top:-10px;
    margin-left: 30px;
}
.time{
    margin-top:-15px;
    margin-left: 30px;
}

.timeline-box ul li{
    line-height: 20px;
    font-size: 15px;
    font-family: sans-serif;
}

.timeline-divider{
    position: absolute;
    margin-top: -5%;
    height:94%;
    width:0;
    border:3px dashed black;
    top:10%;
    left:50%;

}


.timeline-traveller{
    position:sticky;
    margin-top: -29px;
    margin-left: -3px;
    top:20%;
    transform: rotate(90deg);
}

.timeline-box:nth-child(2n+1)::after{

    content:'';
    
    position:absolute;
    margin-top: -13.5%;
    top:30%;
    right:-14%;
    border-radius: 50%;
    width:0.5rem;
    height:0.5rem;
    background-color:rgb(224, 51, 94);
    z-index: 1;
}

.timeline-box:nth-child(2n)::after{

    content:'';
    position:absolute;
    margin-top: -8%;
    top:30%;
    left:-7.7%;
    border-radius: 50%;
    width:0.5rem;
    height:0.5rem;
    background-color:rgb(224, 51, 94);
    z-index: 2;
}



/* contact */

#contact{
    display:flex;
    font-family: sans-serif;
    padding-bottom: 60px;
    background-image: linear-gradient( rgb(199, 124, 243),rgb(169, 89, 243));
    color: oldlace;

}

#contact-details{
    display:flex;
    flex-direction: column;
    align-items: center;
   justify-content:center;
}

#contact-details button{
    width: 200px;
    height:50px;
}

.contact-input{
    
    width:600px;
    padding: 20px;
    margin: 20px;
    
}

#contact-data{
    display:flex;
    flex-direction: column;
    padding-left: 100px;
}

#contact-data p{
    width: 400px;
    height: 50px;
    margin-top: -1px;
}

.details-div{
    display:flex;
    flex-direction: row;
    
}

.details-div img{
    width: 20px;
    height:20px;
    padding-right: 5px;
}